**.tar.gz
**/debug*
**/ready
*.prof
/01_generate-forcefield/generate.log
/04_fit-forcefield/fb-fit/pdb/
/04_fit-forcefield/ready
/fit-sage/fb-fit/targets/
Modified_Seminario_Angles.txt
Modified_Seminario_Bonds.txt
04_fit-forcefield/fb-fit/fb.out
04_fit-forcefield/fb-fit/new.out
04_fit-forcefield/fb-fit/no17.out
04_fit-forcefield/fb-fit/optimize.tmp/
04_fit-forcefield/fb-fit/smirnoff_parameter_assignments.json
04_fit-forcefield/fb-fit/targets/*
hess_records.json
all_params.dat
all_params.json
working-directory
__pycache__/
oe_license.txt
make.err
make.out
msm.log
fault_handler.log
targets/